name: "Audit"
on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/*'
  schedule:
    - cron: '09 22 * * *'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v2.2.0
      with:
        node-version: '12.x'

    - run: npm version
    - run: npm ci
    - run: npm run audit
